@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600;700&display=swap');
/* ==============================
   Reset
============================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  cursor: pointer;
}

body{
    overflow-x: hidden;
}


/* ==============================
   Base
============================== */
:root{
    --color-main: #203e33;
    --color-accent: #615a32;
    --color-bg: #f7f5f2;
    --color-text: #333;
    --color-text-sub:#999;
    --container-width:1200px;
    --color-border: #e6e6e6;
    --font-serif:'Noto Serif JP',yu mincho, serif;
    --font-sans:'Noto Sans JP',yu gothic, sans-serif;
    --font-size-base:16px;
    --font-size-sm:14px;
    --font-size-xs:12px;
    --side-padding-pc: 24px;
    --side-padding-sp: 4%;
}

/* メモ
　rem換算（16px基準）
12px = 0.75rem
13px = 0.8125rem
14px = 0.875rem
15px = 0.9375rem
16px = 1rem
18px = 1.125rem
20px = 1.25rem
22px = 1.375rem
24px = 1.5rem
26px = 1.625rem
28px = 1.75rem
30px = 1.875rem
32px = 2rem
34px = 2.125rem
36px = 2.25rem
38px = 2.375rem
40px = 2.5rem
42px = 2.625rem
44px = 2.75rem
46px = 2.875rem
48px = 3rem
*/

body {
    min-height: 100vh;
    font-family: var(--font-sans);
    font-size:var(--font-size-base);
  }

.pc_only{
    display: block;
}
.sp_only{
    display: none;
}
a{
    opacity: 1;
    transition: opacity 0.3s ease;
}
a:hover{
    opacity: 0.7;
}

@media (max-width: 767px) {
   .pc_only{
        display: none;
    }
    .sp_only{
        display: block;
    }
}



/* ==============================
   Components
============================== */

body{
    font-family: var(--font-serif);
}
/* ボタン・共通見出しなど */


/* ==============================
   リンクボタン
============================== */
.c-link-btn{
 display: inline-flex; /*横幅いっぱいじゃなく*/ 
 gap:24px;
 align-self: flex-start;
 border: 1px solid var(--color-main);
 padding: 16px 24px;
 width:auto;
 color: var(--color-main);
}
.c-link-btn::after{
    content:"→";
}

/* ==============================
   中見出し
============================== */
.c-section-heading{
    color: var(--color-main);
    font-size: 1.625rem;
}
.c-section-heading__ja{
    display: block;
    font-size: var(--font-size-sm);
    color: var(--color-text);
}

/* ==============================
   Header
============================== */
.site-header{
  max-width: var(--container-width);
  width:100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;

  height:72px;

}

.site-header__logo-name{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;

}

.site-header__logo-description{
    font-size:12px;
}

.site-header__logo-link{
    display: flex;
    align-items: center;
    gap: 16px;
    color:var(--color-main);
}

.site-header__logo-link img{
    height:32px;
    width:auto;
}
.site-header__logo-text{
    display: flex;
    flex-direction: column;
}

.site-header__nav{
    display: flex;
    justify-content: center;
}

.site-header__nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:40px;
  font-weight: 700;
}

.site-header__nav-link{
    display: flex;
    flex-direction: column;
   align-items: center;
   letter-spacing: 0.08em;

}
.site-header__nav-link span{
    font-size: var(--font-size-sm);
    font-weight: 500;
}


/* ==============================
   Footer
============================== */

  .site-footer__main{
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    color: var(--color-main);

}

.site-footer__logo-name{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.site-footer__logo-description{
    font-size: 16px;
}

.site-footer__logo-link{
    display: flex;
    align-items: center;
    gap: 24px;
}

.site-footer__logo-text{
    display: flex;
    flex-direction: column;
}
.site-footer__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer__nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-weight: 700;
    border-right: 1px solid var(--color-border);
    padding-right: 40px;
    margin-left: auto;
}

.site-footer__nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.08em;
}

.site-footer__nav-link span{
    font-size: var(--font-size-sm);
    font-weight: 600;
}


.site-footer__sns-list img{
    width:24px;
    height:auto;
  }

  .site-footer__sns-list{
    display: flex;
    padding-left: 40px;
    gap:16px;
  }

  .site-footer__bottom{
    max-width: var(--container-width);
    width: 100%;
    margin: 24px auto;
    display: flex;
    justify-content: space-between; 
    padding-inline: var(--side-padding-pc);  
  }

/* ==============================
   page-hero
============================== */
.c-page-hero__visual{
    position: relative;
    width:100%;
    margin: 0 auto 48px;
    height:600px;
    max-height: 72vh;
    overflow: hidden;
}

.c-page-hero__image{
    height: 100%;
    width:100%;
    position: relative;  
}

.c-page-hero__image::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.25);
}

.c-page-hero__image img{
    object-fit: cover;
    height: 100%;
    width:100%;
    object-position: center;      
}

.c-page-hero__inner{
    position: absolute;
    z-index: 9;
    color: #fff;
    top:50%;
    left:0;
    right: 0;
    transform: translatey(-50%);
    width:100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 4%;
    letter-spacing: 0.08em;
    display: flex;
    flex-direction: column;
    gap:32px;    
}


.c-page-hero__title-jp{
    font-size: 1.25rem;
}
.c-page-hero__title-en{
    font-size: 56px;
    font-weight: 600;
}

/* ==============================
   intro
============================== */
.c-page__intro{
    width:100%;
    max-width: var(--container-width);
    padding-inline: var(--side-padding-pc);
    margin: 0 auto 48px;
    display: flex;
    flex-direction: column;
    gap:8px;
}
.c-page__catch{
    font-size:2.5rem ;
    font-weight: 600;
    line-height: 1.8;
}
.c-page__lead{
    line-height: 1.8;    
}


  /* ==============================
   works list
============================== */

 .c-works__card{
    display: flex;
    flex-direction: column;
 }
 
 .c-works__body{
     padding: 4px;
     font-size: var(--font-size-sm);   
 }
 
 .c-works__title{
     font-size: var(--font-size-base);
 }
 .c-works__meta{
     padding:2px; 
 }
 
 .c-works__category{
     padding: 0 8px;
     position: relative;
     font-weight: var(--font-size-sm);
 }
 .c-works__category::before{
     content:"";
     position:absolute;
     left:0;
     top:50%;
     transform:translateY(-50%);
     width:4px;
     height:16px;
     background-color: var(--color-accent);   
 }
 .c-works__area{
     padding: 0 8px;
     position: relative;
     font-weight: var(--font-size-sm);
 }
 .c-works__area::before{
     content:"";
     position:absolute;
     left:0;
     top:50%;
     transform:translateY(-50%);
     width:2px;
     height:16px;
     background-color: var(--color-main);
 }

/* ==============================
   contact
============================== */
.c-contact{ 
    margin-bottom: 48px;
}
.c-contact__main{
    position: relative;
    background-image: url("../images/contact-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}
.c-contact__main::before{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.4);    
}

.c-contact__main > * {
    position: relative;
    z-index: 1;
}
.c-contact__inner{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap:24px;
    max-width:var(--container-width);
    margin: 0 auto;
    justify-content: center;
    height: 100%;
    padding: 32px 0;
    padding-inline: var(--side-padding-pc);
}

.c-contact__inner .c-section-heading,
.c-contact__inner .c-section-heading__ja,
.c-contact__inner .c-link-btn
{
    color: #fff;
}

.c-contact__catch{
    font-size:1.625rem ;
    font-weight: 600;
    line-height: 1.8;
}

.c-contact__inner .c-link-btn{
    border-color: #fff;
    align-self: center;
}
.c-contact .c-link-btn{
    background-color: var(--color-main);
}
  
/* ==============================
   SP
============================== */

@media (max-width: 767px) {
    .admin-bar .site-header #js-btn-open {
        top: 48px;/*プレビュー黒バー対策*/
    }
}
@media (max-width: 767px){


    .c-section-heading{
        font-size: 1.75rem;
    }

    /* sp-header */
    .site-header {
        height: 56px;

    }
    .site-header__logo-link{
        position: static;
        z-index: 20;
    }
    .site-header__nav{
        display: none;
    }
    .site-header__logo-name{
        font-size: 18px;
    }
    .site-header__logo-link img{
        height:16px;
    }
    .site-header__logo-description{
        font-size:10px;
    }

    #js-btn-open{
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
         z-index: 20;
         position: absolute;
         right:16px;
         top:8px;
    }

    #js-btn-open span {
        position: absolute;
        left: 20px;
        transform: translateX(-50%);
        width: 24px;
        height: 2px;
        background-color: var(--color-main);
        transition: all 0.4s;
        box-sizing: border-box;
      }      
      #js-btn-open span:nth-of-type(1) {
        top: 12px;
      }      
      #js-btn-open span:nth-of-type(2) {
        top: 20px;
      }      
      #js-btn-open span:nth-of-type(3) {
        top: 28px;
      }

/* --- active（×に変形） --- */

    #js-btn-open.is-open span:nth-of-type(1) {
        transform: translateX(-50%) translateY(8px) rotate(-45deg);
    }
  
    #js-btn-open.is-open span:nth-of-type(2) {
        opacity: 0;
    }
  
    #js-btn-open.is-open span:nth-of-type(3) {
        transform: translateX(-50%) translateY(-8px) rotate(45deg);
    }



    /* sp-menu */
    .site-header__sp-menu{
        position: absolute;
        width:100%;
        top:56px;
        bottom: 0;
        right:0;
        background-color: #fff;
        z-index: 99;
        padding:40px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s;    
  
    }
    .site-header__sp-menu.is-open{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    body.is-menu-open {
        overflow: hidden;
    }
    .site-header__sp-menu-visual{
       position: absolute;
       height:30%;
       width:auto;
       overflow: hidden;
       bottom:0;
       right: 0;
       left: 0;
    }
    .site-header__sp-menu-copy{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate( -50% , 0);
        font-size:1.5rem ;
        line-height: 1.8;
        color:#fff;
        width:80%;
        text-align: center;
    }

    .site-header__sns-list img{
        width:24px;
        height:auto;
      }
    
      .site-header__sns-list{
        display: flex;
        gap:16px;
        justify-content: center;
      }

    .site-header__sp-nav-list{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap:2vh;
      font-weight: 700;
      margin-bottom: 48px;
    }
    .site-header__sp-nav-list li{
        width:100%;

      }
    
    .site-header__sp-nav-link{
       display: flex;
       flex-direction: column;
       align-items: center;
       letter-spacing: 0.08em;
       width:100%;
    
    }
    .site-header__sp-nav-link span{
        font-size: var(--font-size-sm);
        font-weight: 500;
    }

    /* sp-footer */
    .site-footer{
        display: flex;
        flex-direction: column;
    }
    .site-footer__main{
        flex-direction: column;
    }
    .site-footer__logo-link{
        flex-direction: column; 
        margin-bottom: 40px;      
    }
    .site-footer__logo-mark{
        width:100px;
    }
    .site-footer__left{
        flex-direction: column;
        gap:32px;
    }
    .site-footer__nav-list{
        flex-direction: column;
        border: none;
        padding: 0;
    }
    .site-footer__sns-list{
        padding: 0;
    }
    .site-footer__bottom{
        flex-direction: column;
        align-items: center;
    }

    /* sp-page-hero */
    .c-page-hero__visual{
        height:calc(100svh - 56px);
    }

    
    .c-page-hero__title-en{
        font-size: 40px;
    }

    /* sp-works list */

    /* sp-contact */
    .c-contact__inner {
        padding: 48px var(--side-padding-sp); 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .c-contact .c-link-btn{
        align-self: flex-start;
        display: inline-flex;
    }

}

/*テスト用*/
.c-image-test{
    width:100%;
    max-width: var(--container-width);
    padding-inline: var(--side-padding-pc);
    margin: 0 auto 48px;   
}

.c-massage-test{
    width:100%;
    max-width: var(--container-width);
    padding-inline: var(--side-padding-pc);
    margin: 0 auto 80px;  
    display: flex;
    flex-direction: column;
    gap:24px;
}

.c-company-test{
    width:100%;
    max-width: var(--container-width);
    padding: 64px var(--side-padding-pc);
    margin: 0 auto 80px;
    background-color: var(--color-bg);
}

.c-company-test__title{
    text-align: center;
    margin-bottom: 32px;
}

.c-company-test__table{
    display: flex;
    flex-direction: column;
    gap:32px;

}
.c-company-test__row{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap:40px;
    padding: 16px 0;
    width:60%;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-border);
}

@media (max-width: 767px) {
    .c-company-test__row{
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        gap:8px;
        width:100%;
    }
    .c-company-test__table{
        gap:16px;
    
    }
}