/* ==============================
   hero
============================== */
.hero{
    position: relative;
    height:calc(100dvh - 72px);
    margin-bottom: 40px;
}

.swiper-wrapper,
.swiper-slide{
    height: 100%;
    width:100%;   
}
.swiper-slide img{
    object-fit: cover;
    height: 100%;
    width:100%;      
}

.hero__inner{
    position: absolute;
    z-index: 9;
    color: #fff;
    top:50%;
    left:0;
    right: 0;
    transform: translatey(-50%);
    width:100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 4%;
    letter-spacing: 0.08em;
}

.hero__contents{
    display: flex;
    flex-direction: column;
    gap:32px;
}

.hero__lead{
    font-size:1.25rem;
    line-height: 180%;
    opacity: 0.7;    
}

.hero__brand-name{
    font-size: 1.25rem;
}
.hero__title{
    font-size: 56px;
    font-weight: 600;
}
.hero__brand-copy{
    font-size: 0.875rem;
    opacity: 0.6;
}

/* ==============================
   about
============================== */

.about{
 display: grid;
 grid-template-columns: 2fr 2.2fr 1.2fr;
 justify-content: space-between;
 gap:40px;
 width:100%;
 max-width: var(--container-width);
 margin: 0 auto 48px;
 padding-inline: var(--side-padding-pc);
}

.about__image-main{
    height:100% ;
}
.about__image-main img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.about__body{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.about__catch{
    font-size:1.625rem ;
    font-weight: 600;
    line-height: 180%;
}

.about__image{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.about__image-sub{
    height:50%;
    width:100%;
}

.about__image-sub img{
    width:100%;
    height:100%;
    object-fit: cover;
}

/* ==============================
   service
============================== */

.service{
    background-color: var(--color-bg);
    padding: 48px 0;
    margin-bottom: 48px;
    padding-inline: var(--side-padding-pc);
}

.service__inner{
    display: flex;
    flex-direction: column;
    gap:32px;
    width:100%;
    max-width: var(--container-width);
    margin: 0 auto;
}

.service__heading{
    display: flex;
    justify-content: space-between;
}

.service__discription{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 180%;
}

.service__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:24px;
}
.service__card{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:4px;
    background-color: #fff;
}

.service__body{
    display: flex;
    flex-direction: column;
    gap:16px;
    position: relative;
    padding: 16px;

}

.service__arrow{
    position: absolute;
    top:20px;
    right:16px;
    border: 1px solid var(--color-main);
    border-radius: 999px;
    width:40px;
    height:40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.service__title{
    font-size: 1.25rem;
}

.service__title-en{
    display: block;
    font-size: var(--font-size-sm);
    color: var(--color-text-sub);
}


  /* ==============================
   works
============================== */

.works{
    width:100%;
    max-width: var(--container-width);
    margin: 0 auto 48px;
    padding-inline: var(--side-padding-pc);
   }
.works__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.works__link{
    border-bottom:1px solid var(--color-main);
    padding-bottom: 8px;
    align-self:center; /*親がflexのとき、自分だけ位置を指定  */
}

.works__link::after{
    content:"→";
    margin-left: 40px;

}
.works__list{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap:24px;  
 }

/* ==============================
   Concept
============================== */
.concept{    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin-bottom: 48px;

}
.concept__main{
    position: relative;
    background-image: url("../images/Concept-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.concept__main::before{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.4);    
}

.concept__main > * {
    position: relative;
    z-index: 1;
}
.concept__inner{
    display: flex;
    flex-direction: column;
    gap:24px;
    max-width:calc(var(--container-width) / 2);
    margin-left: auto;
    justify-content: center;
    height: 100%;
    padding: 32px 0;
    padding-inline: var(--side-padding-pc);
}

.concept__inner .c-section-heading,
.concept__inner .c-section-heading__ja,
.concept__inner .c-link-btn
{
    color: #fff;
}

.concept__catch{
    font-size:1.625rem ;
    font-weight: 600;
    line-height: 180%;
}

.concept__inner .c-link-btn{
    border-color: #fff;
}

.concept__side{
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);    
}
.concept__list{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 40px 8px 40px 64px;
    gap:32px;
    justify-content: space-between;
    max-width:calc(var(--container-width) / 2);  
}
.concept__card{
    display: grid;
    grid-template-columns: 120px 1fr 3fr;    
}

.concept__card span{
    padding: 8px 0;
    justify-self: center;
 
}
.concept__body{
    padding: 8px 0;
}

/* ==============================
   News
============================== */

.news{
    width:100%;
    max-width: var(--container-width);
    margin: 0 auto 48px;
    padding-inline: var(--side-padding-pc);
   }
.news__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.news__link{
    border-bottom:1px solid var(--color-main);
    padding-bottom: 8px;
    align-self:center; /*親がflexのとき、自分だけ位置を指定  */
}

.news__link::after{
    content:"→";
    margin-left: 40px;

}

.news__body{
    display:grid;
    grid-template-columns: 7fr 3fr;
    gap:64px; 
}

.news__item-link{
    display:grid;
    grid-template-columns: 120px 120px 1fr;
    gap:24px;
    border-bottom: 1px solid var(--color-border); 
    padding: 8px 0;
}

.news__visual{
    position: relative;
}

.news__visual-text{
    position: absolute;
    top:50%; 
    left:50%;
    transform: translate( -50% ,-50%);
    text-align: center;
}


.news__visual-copy{
    font-size:1.25rem ;
    font-weight: 600;
    line-height: 180%;
    margin-bottom: 8px;
}

.news__visual-name{
    font-size: var(--font-size-sm);
}


.news__category{
    background-color: var(--color-accent);
    color: #fff;
    font-size: var(--font-size-sm);
    text-align: center;
}

/* ==============================
   contact
============================== */
.contact{ 
    margin-bottom: 48px;
}
.contact__main{
    position: relative;
    background-image: url("../images/contact-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}
.contact__main::before{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.4);    
}

.contact__main > * {
    position: relative;
    z-index: 1;
}
.contact__inner{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap:24px;
    max-width:var(--container-width);
    margin: 0 auto;
    justify-content: center;
    height: 100%;
    padding: 32px 0;
    padding-inline: var(--side-padding-pc);
}

.contact__inner .c-section-heading,
.contact__inner .c-section-heading__ja,
.contact__inner .c-link-btn
{
    color: #fff;
}

.contact__catch{
    font-size:1.625rem ;
    font-weight: 600;
    line-height: 180%;
}

.contact__inner .c-link-btn{
    border-color: #fff;
    align-self: center;
}
.contact .c-link-btn{
    background-color: var(--color-main);
}


/* ==============================
   SP
============================== */


@media (max-width: 767px) {

    section img{
        width:100%;
    }

    /* sp-hero */
    .hero{
        height:calc(100svh - 56px);
    }

    
    .hero__title{
        font-size: 40px;
    }

    /* sp-about */
    .about {
        grid-template-columns: 1fr;
        padding: 0 var(--side-padding-sp);
    }

    .about__image{
        display:grid;
        grid-template-columns: 6fr 4fr; 
        gap:0;
        position: relative;      
    } 
    .about__image-message{
        position: absolute;
        left:30%;
        width:70%;
    }
    .about__catch{
        font-size:1.625rem ;
        font-weight: 600;
        line-height: 180%;
        font-size:1.5rem ;
    }

    /* sp-service */
    .service__heading{
        flex-direction: column;
        padding: 0 4%;
    }
    
    .service__list {
        grid-template-columns: 1fr;
        padding: 0 var(--side-padding-sp);        
    }
    .service__card{

    }
    /* sp-works list */
    .works__header{
        padding: 0 var(--side-padding-sp);        
    }

    /* sp-concept */
    .concept {
        grid-template-columns: 1fr;
    }
    .concept__inner{
        padding:48px var(--side-padding-sp);        
    }
    .concept__main{
        margin-bottom: 48px;
    }
    .concept__list{
        padding: 0 var(--side-padding-sp);
   
    }

    .concept__card{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap:16px;
    }
    .concept__image{
        grid-row: span 2;
    }
    .concept__card span{
         justify-self: flex-start;
     
    }
    .concept__side{
        width:100%;
        padding: 0 var(--side-padding-sp); 
        border: none;                    
    }
    /* sp-news */
    .news{
        background-color: var(--color-bg);
        padding: 48px var(--side-padding-sp) 0;

    }

    .news__body {
        grid-template-columns: 1fr;
    }
    .news__item-link{
        display: grid;
        grid-template-columns:1fr 2fr; 
       
    }
    .news__date{
        grid-row: span 2;      
    }


    /* sp-contact */
    .contact__inner {
        padding: 48px var(--side-padding-sp); 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact .c-link-btn{
        align-self: flex-start;
        display: inline-flex;
    }
}

/*替えるか追加*/